<style>
    .download-switch {
      display: inline-block;
      right: 10px;
      width: 200px;
      height: 30px;
      /* background-color: green; */
      color: purple;
      border: none;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
    }
    .download-switch:hover {
      background-color: darkgreen;
    }
  </style>
  
  <a href="_includes/about/ShaikhulHadi.pdf" download>
    <button class="download-switch">Download Resume</button>
  </a>
  