<style>
    .download-switch {
      display: inline-block;
      position: relative;
      left: 5px;
      top: 5px;
      width: 200px;
      height: 30px;
      background-color: gray;
      color: skyblue;
      border: none;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
    }
    .download-switch:hover {
      background-color: darkgreen;
    }
  </style>
  
  <a href="https://github.com/shaikhulhadi/shaikhulhadi.github.io/raw/gh-pages/_includes/about/ShaikhulHadi.pdf" download>
    <button class="download-switch">Download Resume</button>
  </a>
  