
<style>
    .short_description_style {
        text-align: justify;
    }
    .short_description_style p {
        color: var(--home-intro-text-header-color);
        font-size: 1.5rem;
        margin: 0;
    }

</style>

<div class="short_description_style">
    <p>Hi, 
    <br>
        &emsp;&emsp;I am a Ph.D. candidate and Graduate Research Assistant in the <a href="https://sites.google.com/view/arpers">ARPERS research group</a> at the University of Central Florida (UCF), specializing in Computer Architecture.
        My research focuses on memory disaggregation and persistent memory, specifically aiming to <i>Minimizing Performance Overheads for Crash-Consistency in Disaggregated Persistent Memory</i>.
        Prior to my current role, I worked as a Research Engineer at the BUET-Energypac Research Collaboration. 
        I hold an M.Sc. in Computer Science from UCF and a B.Sc. in Electrical and Electronic Engineering from the Bangladesh University of Engineering and Technology (BUET).

    </p>
</div>
  