


<div>
    <style>
      div {
        background-color: lightgray;
        border: 1px solid black;
        padding: 10px;
      }
      p {
        font-size: 12pt;
      }
    </style>
    <p>Hi, I'm Khan Shaikhul Hadi . I'm a PhD student of University of Central Florida and working as a Research Assistant at ARPERS research group. I do research in <strong>Computer Architecture</strong> and my current research focus is <i>Crash consistency for parallel programming on persistent memory machine</i>.
     I have worked as a Research Engineer at BUET-Energypac Research Collaboration HEQEP Sub-Project CP#381. I have completed my B.Sc in Electrical and Electronic Engineering from Bangladesh University of Engineering and  Technology (BUET) . </p>
  </div>
  