
<style>
    .short_description_style {
        text-align: justify;
        margin-top: calc(var(--text-spacing) - 3px);
    }
    .short_description_style p {
        color: var(--home-intro-text-header-color);
    }

</style>

<div class="short_description_style">
    <p>Hi, 
    <br>
        &emsp;&emsp;I'm a PhD student at University of Central Florida with expertise in Computer Architecture; 
        working as a Research Assistant at <a href="https://sites.google.com/view/arpers">ARPERS research group</a>. 
        My research focuses in <i>Minimizing Performance Overheads for Crash-Consistency in Disaggregated Persistent Memory</i>.I have worked as a Research Engineer at BUET-Energypac Research Collaboration. 
        I also got my M.Sc.in Computer Science from UCF and 
        B.Sc. in Electrical and Electronic Engineering from Bangladesh University of Engineering and Technology (BUET). 
    <br>
        &emsp;&emsp;My research focuses in memory disaggregation and persistent memory with aim to reduce performance overheads to ensure crash 
        consistency when we try to scale persistent memory system using memory disaggregation. 
    </p>
</div>
  